/* Fonts */
$heading-font: 'Pacifico', 'Open Sans', 'Segoe UI', sans-serif;
$body-font: 'Open Sans', 'Raleway', 'Segoe UI', sans-serif;

/* Colors */
$grey-highlight: #eee;
$grey-selected: #ddd;
$rich-black: #022;
$elf-green: #6be6d9;
$elf-green-dark: #56bbb1;
$elf-green-darker: #2f6963;
$elf-yellow: #fcf665;
$elf-yellow-dark: #cac552;
$elf-yellow-darker: #58561e;

/* Box shadows */
$box-shadow-grey: 0 3px 3px rgba(0,0,0,0.3);
$text-shadow-grey: 0 0px 4px rgba(0, 0, 0, 0.7);
$box-shadow-green: 0 3px 3px $elf-green-darker;
$box-shadow-yellow: 0 3px 3px $elf-yellow-darker;

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

@mixin media ($queryString){
    @media #{$queryString} {
      @content;
    }
}

@mixin grid {
    @supports (display: grid) {
      @content;
    }
}

html,
#app
{
    height: 100%;
    margin: 0;
}

body
{
    @extend html;
    font-size: 18px;
    color: $rich-black;
}

[v-cloak]
{
    display: none;
}

.clear
{
    clear: both;
}

.central
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.central-right
{
    @extend .central;

}

.central-text
{
    @extend .central;
    padding: 0 15px;
    width: 100%;
    text-align: center;
}

.bottom
{
    position: absolute;
    bottom: 0;
}

.bottom-text
{
    @extend .bottom;
    text-align: center;
}

.master-button
{
    border: 0;
    text-transform: uppercase;
    padding: 7px 20px;
    border-radius: 2px;
    font-weight: 600;
    margin-top: 0px;
    background: $elf-yellow;
    width: 125px;
    box-shadow: $box-shadow-green;
}
    
.left
{
    float: left;
}

.right
{
    float: right;
}

:root {
    --rotation-degree: 10000deg;
}

.user-menu
{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1;
    padding: 30px 40px;
    font-size: 30px;    
}

.menu
{
    text-transform: uppercase;

    a
    {
        color: #022;
        font-size: 15px;
        opacity: 0.8;
        font-weight: 900;
    }
}

.master-menu
{
    @extend .menu;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto auto;
    padding: 10px 0;
    grid-gap: 5px 0;

    min-width: 300px;
    text-align: center;

    @include media("(min-width: 768px)") {
        grid-template-columns: auto auto auto auto;
        width: auto;
        padding: 15px;
        grid-gap: 30px;
    }

    a
    {
        margin-left: 9px;
        margin-right: 9px;

        @include grid {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.sub-menu
{
    @extend .menu;
    margin-top: 10px;

    a
    {
        margin-right: 15px;
    }
}

.twitter-button
{
    width: 280px;
    height: 55px;
    background-color: #00aced;
    border-radius: 5px;
    box-shadow: $box-shadow-grey;
    margin: auto;
    cursor: pointer;

    img.new-twitter-logo
    {   
        width: 25px;
        height: 25px;
        margin: 15px 15px 15px 20px;
    }

    div.new-twitter-text
    {
        font-family: $body-font;
        color: #fff;
        font-size: 16px;
        line-height: 1;
        margin: 19.5px 0;
        text-shadow: $text-shadow-grey;
    }
}

.page
{
    min-height: 100%;
    padding: 20px 0;

    @include media("(min-width: 768px)") {
        padding: 45px 0;
    }
}

.all-page
{
    height: 100%;
    position: relative;
}

.page-heading
{
    margin-bottom: 25px;
}

.page-name
{
    font-size: 30px;
    font-family: $heading-font;
    text-transform: uppercase;
    font-weight: bold;
    color: $rich-black;
    line-height: 1;
    margin-bottom: 5px;

    @include media("(min-width: 768px)") {
        font-size: 40px;
    }
}

.page-line
{
    height: 15px;
    width: 290px;
}

/* INDEX PAGE */

.index-page
{
    @extend .page;
    padding: 0;
    background-color: #6be6d9;
    height: 100%;

    .index-container
    {
        height: 100%;
        display: grid;
        grid-template-rows: 1fr minmax(250px, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas:    "text"
                                "menu";

        /* No grid */
        padding-top: 90px;


        @include media("(min-width: 768px)") {
            grid-template-columns: 1fr auto;
            grid-template-rows: 1fr;
            grid-template-areas: "text menu";
        }

        @include grid {
            padding-top: 0;
        }

        .index-text
        {
            grid-area: text;
            text-align: center;
            align-self: center;
            font-size: 40px;
            padding: 5px;
                
            /* No grid */
            margin-bottom: 50px;

            @include grid {
                margin-bottom: 0;
            }

            @include media("(min-width: 768px)") {
                padding: 20px;
            }

            @include media("(min-width: 992px)") {
                padding: 25px;
            }

            @include media("(min-width: 1200px)"){
                padding: 50px;
            }

            .index-seller
            {
                line-height: 1.2;

                .index-seller-header
                {
                    font-family: $heading-font;
                    font-weight: 100;
                    line-height: 1.2;

                    @include media("(min-width: 768px)") {
                        font-size: 60px;
                    }

                    @include media("(min-width: 992px)") {
                        font-size: 85px;
                    }

                    @include media("(min-width: 1200px)"){
                        font-size: 120px;
                    }
                }
            }
        }

        .index-menu
        {
            grid-area: menu;
            text-align: center;

            @include media("(min-width: 768px)") {
                width: 285px;
                align-self: center;
            }

            @include media("(min-width: 992px)") {
                width: 350px;
            }

            .menu-header
            {
                margin-bottom: 40px;

                a
                {
                    color: #033;
                    text-decoration: underline;
                }

                @include media("(min-width: 768px)") {
                                    .main { font-size: 25px; }
                .sub { font-size: 18px; }
                }

                .main
                {
                    font-family: $body-font;
                    text-transform: uppercase; 
                    font-weight: bold;
                    line-height: 1;
                    font-size: 20px;
                    margin-bottom: 5px;

                    @include media("(min-width: 768px)") {
                        font-size: 25px;
                    }
                }

                .sub
                {
                    line-height: 1;
                    /*font-size: 18px;*/
                    font-size: 14px;
                    font-family: $body-font;
                    font-weight: 300;

                    @include media("(min-width: 768px)") {
                        font-size: 18px;
                    }
                }
            }

            .menu-footer
            {
                position: absolute;
                bottom: 0;
                text-align: center;
                margin-bottom: 20px;
                left: 0;
                width: 100%;
                font-size: 14px;

                a
                {
                    color: #033;
                    text-decoration: underline;
                }

                .main {
                    font-family: $body-font;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            .twitter-button
            {
                @extend .twitter-button;
                margin-bottom: 15px;
                box-shadow: $box-shadow-green;

                &.facebook-button
                {
                    background: #3b5998;
                }

                @include media("(min-width: 768px)") {
                    width: 285px;
                    height: 55px;

                    img.new-twitter-logo
                    {
                        width: 25px;
                        height: 25px;
                    }

                    div.new-twitter-text
                    {
                        font-size: 17px;
                        margin: 19px 0;
                        color: #fffffff0 !important;
                    }
                }

                @include media("(min-width: 992px)") {
                    width: 350px;
                    height: 65px;
                    background-color: #00aced;
                    border-radius: 5px;

                    img.new-twitter-logo
                    {
                        width: 35px;
                        height: 35px;
                        margin: 15px 25px 15px 30px;
                    }

                    div.new-twitter-text
                    {
                        font-family: $body-font;
                        color: #fffffff0;
                        font-size: 20px;
                        line-height: 1;
                        margin: 23px 0;
                    }
                }    
            }
        }
    }
}

/* END OF INDEX PAGE */


/* GAME PAGE */
div.game-page
{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:    "pledge"
                            "play";

    height: 100%;

    @include media("(min-width: 768px)"){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "pledge" "play";
        align-items: center;
    }

    div.game-box
    {
        width: 100%;
        height: 50%;
        display: grid;
        align-items: center;
        position: relative;

        @include grid {
            height: 100%;
        }

        .game-label
        {
            cursor: pointer;
            padding: 30px;
            text-transform: uppercase;
            text-align: center;
            float: right;

            .game-label-sub
            {
                font-family: $body-font;
                font-size: 20px;

                @include media("(min-width: 400px)"){
                    font-size: 30px;
                }
            }

            .game-label-main
            {
                font-family: $heading-font;
                font-weight: 900;
                font-size: 40px;
                margin: -15px 0;

                @include media("(min-width: 400px)"){
                    font-size: 50px;
                    margin: -20px 0 -20px 0;
                }

                @include media("(min-width: 768px)"){
                    font-size: 60px;
                }

                @include media("(min-width: 1125px)"){
                    font-size: 75px;
                    margin-top: -25px;
                }
            }

            .game-line {
                @include media("(min-width: 768px)") {
                    height: 20px; 
                }
            }
        }

        &:hover .game-line
        {
            @include media("(min-width: 768px)"){
                -webkit-animation: lengthen-line-250 0.5s forwards;
                -moz-animation: lengthen-line-250 0.5s forwards;
                -o-animation: lengthen-line-250 0.5s forwards;
                animation: lengthen-line-250 0.5s forwards;
            }

            @include media("(min-width: 1125px)"){
                -webkit-animation: lengthen-line-450 0.5s forwards;
                -moz-animation: lengthen-line-450 0.5s forwards;
                -o-animation: lengthen-line-450 0.5s forwards;
                animation: lengthen-line-450 0.5s forwards;
            }
        }
    }

    div.new-pledge-box
    {
        @extend .game-box;
        background-color: $elf-green-dark;
        justify-items: center;

        @include media("(min-width: 768px)"){
            justify-items: right;
        }

        &:hover
        {
            -webkit-animation: brighten-elf-green 1s forwards;
            -moz-animation: brighten-elf-green 1s forwards;
            -o-animation: brighten-elf-green 1s forwards;
            animation: brighten-elf-green 1s forwards;
        }

        div.game-label
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);

            @include grid {
                position: relative;
                -webkit-transform: none;
                left: inherit;
                top: inherit;
            }

            @include media("(min-width: 768px)"){
                text-align: right;
            }
        }

        .game-line
        {
            @extend .game-line;
            background-color: $elf-yellow;
            float: right;
        }
    }

    .new-play-box
    {
        @extend .game-box;
        background-color: $elf-yellow-dark;
        justify-items: center;

        @include media("(min-width: 768px)"){
            justify-items: left;
        }

        div.game-line
        {
            @extend .game-line;
            background-color: $elf-green;
            float: left;
        }

        div.game-label
        {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);

            @include grid {
                position: relative;
                -webkit-transform: none;
                left: inherit;
                top: inherit;
            }

            @include media("(min-width: 768px)"){
                text-align: left;
            }
        }

        div.pledge-plead
        {
            margin-top: 25px; 
            font-size: 15px; 
            font-weight: 700; 
            color: #ec2121;
        }
        
        &:hover
        {
            -webkit-animation: brighten-elf-yellow 1s forwards;
            -moz-animation: brighten-elf-yellow 1s forwards;
            -o-animation: brighten-elf-yellow 1s forwards;
            animation: brighten-elf-yellow 1s forwards;
        }

        &.new-play-box-disabled
        {
            cursor: default;

            div.game-label
            {
                margin-top: 60px;
            }

            &:hover
            {
                -webkit-animation: 0;
                -moz-animation: 0;
                -o-animation: 0;
                animation: 0;

                div.game-line
                {
                    -webkit-animation: 0;
                    -moz-animation: 0;
                    -o-animation: 0;
                    animation: 0;
                }
            }
        }
    }
}

/* END OF GAME PAGE */

/* PLEDGE PAGE */
.pledge-page
{
    @extend .page;
    background-color: $elf-green;

    .page-line
    {
        @extend .page-line;
        background-color: $elf-yellow;
    }

    .pledge-form
    {
        .input-group {
            margin-bottom: 30px;
            width: 100%;

            @include media("(min-width: 600px)") {
                width: auto;
                margin-bottom: 20px;
            }
        }

        label
        {
            display: block;
            font-weight: normal;
            font-weight: 300;
            font-size: 20px;

            @include media("(min-width: 768px)"){
                font-size: 25px;
            }
        }

        input[type=text]
        {
            width: 100%;
            background-color: transparent;
            border: 0;
            font-size: 18px;
            height: 36px;
            padding: 10px 30px;
            box-shadow: 0 3px 0 $elf-yellow;
            font-weight: 500;
            text-transform: uppercase;
            margin-right: 40px;
            margin-bottom: 15px;
            line-height: 1;

            @include media("(min-width: 600px)") {
                width: 400px;

                &.short
                {
                    width: 180px;
                }
            }

            @include media("(min-width: 768px)") {
                font-size: 22px;
                height: 40px;
            }


            &.error
            {
                border: 2px solid #ef6464;
            }

            &:focus
            {
                outline: none;
            }
        }

        div.custom-input-group
        {
            float: left;
            width: 100%;

            @include media("(min-width: 600px)") {
                width: auto;
            }

            div.custom-input
            {
                @extend input[type=text];
                cursor: pointer;
                position: relative;

                i
                {
                    font-size: 12px;
                    color: #355;
                    position: absolute;
                    right: 30px;
                    top: 17px;
                }

                .placeholder
                {
                    color: #757575;
                }
            }

            div.input-select
            {
                max-height: 250px;
                background: #fff;
                font-size: 14px;
                overflow-y: auto;
                margin-top: -10px;
                box-shadow: $box-shadow-green;
                cursor: pointer;
                position: absolute;
                z-index: 2;
                width: 100%;

                div {
                    padding: 10px 30px;

                    &.selected
                    {
                        background-color: $grey-selected;
                    }

                    &:hover {
                        background-color: $grey-highlight;
                    }
                }

                @include media("(min-width: 600px)") {
                    width: 400px;

                    &.short
                    {
                        width: 180px;
                    }
                }
            }
        }

        input[type=submit]
        {
            @extend .master-button;
            background: $elf-yellow;
            width: 125px;
        }

        option
        {
            font-size: 14px;
            width: 200px;
        }
    }

}

/* END OF PLEDGE PAGE */


/* PLAY PAGE */
.play-page {
    @extend .page;
    background-color: $elf-yellow;

    .page-line
    {
        @extend .page-line;
        background-color: $elf-green;
    }

    div.spin
    {
        text-align: center;
        background-color: #e4ac24;
        text-transform: uppercase;
        font-weight: 700;
        padding: 5px 10px;
        font-size: 28px;
        box-shadow: $box-shadow-yellow;
        color: #fff;
        cursor: pointer;
    }

    .play-game
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 200px;
        grid-gap: 20px;
        margin-top: -25px;

        @include media("(min-width: 768px)") {
            grid-template-columns: 1fr 350px;
            grid-template-rows: 300px;

            padding: 0 50px;
        }

        @include media("(min-width: 992px)") {
            grid-template-rows: 350px;
        }

        @include media("(min-width: 1200px)") {
            grid-template-columns: 1fr 600px;
            grid-template-rows: 400px;
        }
    }

    .game
    {
        display: grid;
        position: relative;
        overflow: hidden;
        height: 200px;
        max-height: 200px;
        max-width: 100%;

        div.spin-parent
        {
            z-index: 3;
        }

        div.spin
        {
            @extend .spin;
            width: 175px;
        }

        img.wheel
        {
            height: 100%;
            width: auto;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 2;
            margin: auto;
            max-height: 100%;
            max-width: 100%;

            @include media ("(min-width: 768px)") {
                width: 100%;
            }
        }

        img.pointer
        {
            height: 100%;
            width: auto;
            position: absolute;
            left: 0;
            right: 0;
            z-index: 2;
            margin: auto;
            max-height: 100%;
            max-width: 100%;

            @include media("(min-width: 768px)") {
                width: 250px;
            }

            @include media("(min-width: 992px)") {
                width: 350px;
            }

            @include media("(min-width: 1200px)") {
                width: 600px;
            }

            &.rotate
            {
                -webkit-animation: rotate-pointer 20s forwards;
                -moz-animation: rotate-pointer 20s forwards;
                -o-animation: rotate-pointer 20s forwards;
                animation: rotate-pointer 20s forwards;
            }
        }

        img.display
        {
            @extend .central;

            display: block;
            z-index: 3;
            height: 50%;
            width: auto;

            @include media("(min-width: 768px)") {
                width: 100%;
            }

            &.sorry
            {
                height: 40%;
            }
        }
    }

    .winnings
    {
        div.tries
        {
            text-align: center;
            padding-bottom: 15px;
            min-height: 103px;

            @include media("(min-width: 768px)") {
                padding-bottom: 30px;
            }
        }

        span.tries-number
        {
            line-height: 1;
            font-family: $heading-font;
            font-weight: bold; 
            color: #b12b28;
            text-shadow: 2px 2px 0px #fff, 5px 5px 0px #460c0c;
            font-size: 80px;
            margin-right: 15px;

            @include media("(min-width: 992px)") {
                font-size: 150px;
                margin-right: 25px;

            }
        }

        span.tries-word
        {
            text-transform: uppercase;
            font-weight: 800;
            color: #fff;
            text-shadow: 2px 2px 0px #f00, -2px -2px 0 #0f0;
            font-size: 30px;

            @include media("(min-width: 992px)") {
                font-size: 45px;
            }
        }

        div.prize
        {
            font-size: 18px;
            color: #003;
            background: #fff;
            padding: 10px;
            border-top: 10px solid #20403c;
            border-radius: 0 0 5px 5px;
            box-shadow: $box-shadow-yellow;
            margin-bottom: 20px;

            @include media("(min-width: 768px)") {
                font-size: 22px;
            }

            @include media("(min-width: 992px)") {
                font-size: 30px;
            }

            a
            {
                font-family: $heading-font;
                color: #033;
                text-decoration: underline;
            }
        }
    }
}

/* END OF PLAY PAGE */


/* THANK YOU PAGE */

.thank-you-page {
    @extend .page;
    background-color: $elf-green;

    .central-text {
        transform: translate(-50%, calc(-50% + 25px));
        -webkit-transform: translate(-50%, calc(-50% + 25px));
    }

    .thanks 
    {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 60px;
        font-family: $heading-font;

        @include media("(min-width: 768px)") {
            font-size: 65px;
        }
    }

    .sub 
    {
        font-family: $body-font;
        text-transform: uppercase;
    }
}

/* END OF THANK YOU PAGE */

/* PLEDGES PAGE */
.pledges-page
{
    @extend .page;
    background-color: $elf-green;

    .page-line
    {
        @extend .page-line;
        background-color: $elf-yellow;
    }

    .pledges
    {    
        display: grid;
        grid-gap: 25px;
        margin-top: 10px;

        a
        {
            color: #033;
            text-decoration: underline;
        }

        .pledge
        {
            @include media("(min-width: 768px)") {
                display: grid;
                padding: 20px 30px;
                background: $elf-green-dark;
                border-radius: 3px;
                color: #033;
                box-shadow: $box-shadow-green;
                font-size: 18px;
                grid-template-columns: repeat(4, 1fr);
                
            }

            @include media("(min-width: 992px)") {
                font-size: 21px;
            }

            @include media("(min-width: 1200px)") {
                font-size: 23px;
            }

            &.header
            {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 20px;
            }
        }

        &.pledges-x
        {
            display: grid;
            grid-gap: 10px;

            @include media("(min-width: 768px)") {
                display: none;
            }

            .pledge-x
            {
                padding: 10px;
                background-color: $elf-green-dark;
                border-radius: 3px;
                color: #033;
                box-shadow: $box-shadow-green;
                font-size: 16px;
                margin-bottom: 10px;

                @include grid {
                    margin-bottom: 0px;
                }

                .pledge-time
                {
                    font-size: 14px;
                }
            }
        }
    }
}
/* END OF PLEDGES PAGE */

/* PLAYS PAGE */
.plays-page
{
    @extend .pledges-page;
    background-color: $elf-green;

    .page-line
    {
        @extend .page-line;
        background-color: $elf-yellow;
    }

    .plays
    {
        @extend .pledges;

        .play
        {
            @extend .play;

            @include media("(min-width: 768px)") {
                display: grid;
                padding: 20px 30px;
                background: $elf-green-dark;
                border-radius: 3px;
                color: #033;
                box-shadow: $box-shadow-green;
                font-size: 18px;
                grid-template-columns: repeat(3, 1fr);
                
            }

            @include media("(min-width: 992px)") {
                font-size: 21px;
            }

            @include media("(min-width: 1200px)") {
                font-size: 23px;
            }

            &.header
            {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 20px;
            }
        }


        &.plays-x
        {
            display: grid;
            grid-gap: 10px;

            @include media("(min-width: 768px)") {
                display: none;
            }

            .play-x
            {
                padding: 10px;
                background-color: $elf-green-dark;
                border-radius: 3px;
                color: #033;
                box-shadow: $box-shadow-green;
                font-size: 16px;
                margin-bottom: 10px;

                @include grid {
                    margin-bottom: 0px;
                }

                .pledge-time
                {
                    font-size: 14px;
                }
            }
        }
    }
}
/* END OF PLAYS PAGE */

/* REDEEMS PAGE */

.redeems-page
{
    @extend .pledges-page;
    background-color: $elf-green;

    .page-line
    {
        @extend .page-line;
        background-color: $elf-yellow;
    }

    .redeems
    {
        @extend .pledges;

        .redeem
        {
            @extend .play;

            @include media("(min-width: 768px)") {
                display: grid;
                padding: 20px 30px;
                background: $elf-green-dark;
                border-radius: 3px;
                color: #033;
                box-shadow: $box-shadow-green;
                font-size: 15px;
                grid-template-columns: repeat(5, 1fr);
                
            }

            @include media("(min-width: 992px)") {
                font-size: 16px;
            }

            @include media("(min-width: 1200px)") {
                font-size: 18px;
            }

            &.header
            {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 18px;
            }
        }


        &.redeems-x
        {
            display: grid;
            grid-gap: 10px;

            @include media("(min-width: 768px)") {
                display: none;
            }

            .redeem-x
            {
                padding: 10px;
                background-color: $elf-green-dark;
                border-radius: 3px;
                color: #033;
                box-shadow: $box-shadow-green;
                font-size: 16px;
                margin-bottom: 10px;

                @include grid {
                    margin-bottom: 0px;
                }

                .pledge-time
                {
                    font-size: 14px;
                }
            }
        }
    }
}
/* END OF REDEEMS PAGE */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease-out;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

@-webkit-keyframes lengthen-line-450 {
    from { width: 0; }
    to { width: 450px; }
}
@-o-keyframes lengthen-line-450 {
    from { width: 0; }
    to { width: 450px; }
}
@-moz-keyframes lengthen-line-450 {
    from { width: 0; }
    to { width: 450px; }
}
@keyframes lengthen-line-450 {
    from { width: 0; }
    to { width: 450px; }
}

@-webkit-keyframes lengthen-line-250 {
    from { width: 0; }
    to { width: 250px; }
}
@-o-keyframes lengthen-line-250 {
    from { width: 0; }
    to { width: 250px; }
}
@-moz-keyframes lengthen-line-250 {
    from { width: 0; }
    to { width: 250px; }
}
@keyframes lengthen-line-250 {
    from { width: 0; }
    to { width: 250px; }
}

@-webkit-keyframes lengthen-line-150 {
    from { width: 0; }
    to { width: 150px; }
}
@-o-keyframes lengthen-line-150 {
    from { width: 0; }
    to { width: 150px; }
}
@-moz-keyframes lengthen-line-150 {
    from { width: 0; }
    to { width: 150px; }
}
@keyframes lengthen-line-150 {
    from { width: 0; }
    to { width: 150px; }
}

@-webkit-keyframes brighten-elf-green {
    from { background-color: $elf-green-dark; }
    to { background-color: $elf-green; }
}
@-o-keyframes brighten-elf-green {
    from { background-color: $elf-green-dark; }
    to { background-color: $elf-green; }
}
@-moz-keyframes brighten-elf-green {
    from { background-color: $elf-green-dark; }
    to { background-color: $elf-green; }
}
@keyframes brighten-elf-green {
    from { background-color: $elf-green-dark; }
    to { background-color: $elf-green; }
}

@-webkit-keyframes brighten-elf-yellow {
    from { background-color: $elf-yellow-dark; }
    to { background-color: $elf-yellow; }
}
@-o-keyframes brighten-elf-yellow {
    from { background-color: $elf-yellow-dark; }
    to { background-color: $elf-yellow; }
}
@-moz-keyframes brighten-elf-yellow {
    from { background-color: $elf-yellow-dark; }
    to { background-color: $elf-yellow; }
}
@keyframes brighten-elf-yellow {
    from { background-color: $elf-yellow-dark; }
    to { background-color: $elf-yellow; }
}

@-webkit-keyframes rotate-pointer {
    from { transform: initial; }
    to { transform: rotate(var(--rotation-degree)); }
}
@-o-keyframes rotate-pointer {
    from { transform: initial; }
    to { transform: rotate(var(--rotation-degree)); }
}
@-moz-keyframes rotate-pointer {
    from { transform: initial; }
    to { transform: rotate(var(--rotation-degree)); }
}
@keyframes rotate-pointer {
    from { transform: initial; }
    to { transform: rotate(var(--rotation-degree)); }
}