/* Fonts */
$heading-font: 'Lobster', 'Pacifico', 'Raleway', 'Open Sans', 'Segoe UI', cursive;
$heading-word-spacing: 7px;
$cursive-font: 'Pacifico', 'Open Sans', 'Segoe UI', cursive;
$body-font: 'Raleway', 'Open Sans';
$body-font-alternate: 'Open Sans', 'Raleway';

/* Colors */
$grey-highlight: #eee;
$grey-selected: #ddd;
$rich-black: #022;
$elf-green: #6be6d9;
$elf-green-dark: #56bbb1;
$elf-green-darker: #2f6963;
$elf-yellow: #fcf665;
$elf-yellow-dark: #cac552;
$elf-yellow-darker: #58561e;

/* Box shadows */
$box-shadow-grey: 0 3px 3px rgba(0,0,0,0.075);
$box-shadow-green: 0 3px 3px $elf-green-darker;
$box-shadow-yellow: 0 3px 3px $elf-yellow-darker;

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html,
#app
{
    height: 100%;
    margin: 0;
}

body
{
    @extend html;
    font-size: 18px;
    color: $rich-black;
}

[v-cloak]
{
    display: none;
}

.clear
{
    clear: both;
}

.central
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.central-text
{
    @extend .central;
    padding: 0 15px;
    width: 100%;
    text-align: center;
}

.bottom
{
    position: absolute;
    bottom: 0;
}

.bottom-text
{
    @extend .bottom;
    text-align: center;
}

:root {
    --rotation-degree: 10000deg;
}

.header
{
    font-family: $heading-font;
    font-size: 32px;
    font-weight: 900;

    position: absolute;
    top: 0;

    width: 100%;
    margin: auto;
    margin-top: 30px;

    text-align: center;
    word-spacing: $heading-word-spacing;
    text-transform: uppercase;
}

.header a
{
    text-decoration: none;
    color: $rich-black;
}

.footer
{
    font-family: $body-font-alternate;
    font-size: 20px;

    position: absolute;
    bottom: 0;

    width: 100%;
    margin: auto;
    margin-bottom: 20px;

    text-align: center;

    opacity: .8;
    color: $rich-black;
}


.submit
{
    width: 120px;
    height: 50px;
    border: 0;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 0 3px 3px $elf-green-darker;
    font-weight: bolder;
    background: linear-gradient($elf-yellow 70%, $elf-yellow-dark);
    padding: 10px 20px;
}

a.submit, a.submit:focus, a.submit:active, a.submit:hover
{
    @extend .submit;
    text-decoration: none;
    color: inherit;
}

.pledge-box
{
    float: left;

    width: 50%;
    height: 100%;
    background-color: $elf-green-dark;
}

.play-box
{
    float: left;

    width: 50%;
    height: 100%;
    background-color: $elf-yellow-dark;
}

.pledge-box:hover {
    -webkit-animation: brighten-elf-green 1s forwards;
    -o-animation: brighten-elf-green 1s forwards;
    animation: brighten-elf-green 1s forwards;
}

.play-box:hover {
    -webkit-animation: brighten-elf-yellow 1s forwards;
    -o-animation: brighten-elf-yellow 1s forwards;
    animation: brighten-elf-yellow 1s forwards;
}

.welcome-user
{
    font-size: 17px;

    position: absolute;
    right: 0;

    margin: 45px 50px 0 0;
    background: #fff;
    padding: 5px 10px;
    font-family: $body-font-alternate;
}

.choice-box {
    bottom: 25%;
    position: absolute;
    margin: 40px;
    text-transform: uppercase;
    color: $rich-black;   
}

.pledge-box .choice-box
{
    right: 50%;
    text-align: right;
}

.play-box .choice-box
{
    left: 50%;
}

.pledge-wish {
    font-family: $body-font-alternate;
    font-size: 30px;
}

.pledge-action {
    font-family: $heading-font;
    font-size: 90px;
    margin: -35px 0 -20px 0;
    font-weight: 900;
}

.pledge-line {
    height: 20px;
}

.pledge-box .pledge-line {
    background-color: $elf-yellow;
    float: right;
}

.play-box .pledge-line {
    background-color: $elf-green;
    float: left;
}

.pledge-box:hover .pledge-line {
    -webkit-animation: lengthen-line 0.5s forwards;
    -o-animation: lengthen-line 0.5s forwards;
    animation: lengthen-line 0.5s forwards;
}

.play-box:hover .pledge-line {
    -webkit-animation: lengthen-line 0.5s forwards;
    -o-animation: lengthen-line 0.5s forwards;
    animation: lengthen-line 0.5s forwards;
}

.page
{
    min-height: 100%;
    padding: 45px 0;
}

.pledge-page
{
    @extend .page;
    background-color: $elf-green;
}

.play-page {
    @extend .page;
    background-color: $elf-yellow;
}

.page-name
{
    font-size: 40px;
    font-family: $heading-font;
    text-transform: uppercase;
    font-weight: bold;
    color: $rich-black;
    line-height: 1;
    margin-bottom: 5px;
}

.page-line
{
    height: 15px;
    width: 150px;
}

.pledge-page .page-line
{
    background-color: $elf-yellow;
}

.play-page .page-line
{
    background-color: $elf-green;
}

.page-heading
{
    margin-bottom: 30px;
}

.pledge-form
{
    .input-group {
        margin-bottom: 35px;
        width: 100%;
        min-height: 108px;
    }

    label
    {
        display: block;
        font-weight: normal;
        margin-bottom: 5px;
        font-size: 28px;
        font-weight: 300;
    }

    input[type=text]
    {
        width: 100%;
        background-color: transparent;
        border: 0;
        font-size: 24px;
        height: 44px;
        padding: 10px 30px;
        box-shadow: 0 3px 0 $elf-yellow;
        font-weight: 500;
        text-transform: uppercase;
        margin-right: 40px;
        margin-bottom: 15px;
        line-height: 1;

        &.error
        {
            border: 2px solid #ef6464;
        }

        &:focus
        {
            outline: none;
        }
    }

    div.custom-input-group
    {
        float: left;
        width: 100%;

        div.custom-input
        {
            @extend input[type=text];
            cursor: pointer;
            position: relative;

            i
            {
                font-size: 12px;
                color: #355;
                position: absolute;
                right: 30px;
                top: 17px;
            }

            .placeholder
            {
                color: #757575;
            }
        }

        div.input-select
        {
            max-height: 250px;
            background: #fff;
            font-size: 14px;
            overflow-y: auto;
            margin-top: -10px;
            box-shadow: $box-shadow-green;
            cursor: pointer;
            position: absolute;
            z-index: 2;
            width: 100%;

            div {
                padding: 10px 30px;

                &.selected
                {
                    background-color: $grey-selected;
                }

                &:hover {
                    background-color: $grey-highlight;
                }
            }
        }
    }

    input[type=submit]
    {
        @extend .submit;
        margin-top: 0px;
        background: linear-gradient($elf-yellow 70%, $elf-yellow-dark);
    }

    option
    {
        font-size: 14px;
        width: 200px;
    }
}

.bubbles
{
    margin-top: 50px;
    position: relative;
    width: 420px;
}

img.bubble
{
    display: block;
    width: 100%;
    position: absolute;
}

.bubble-text
{
    position: absolute;
    width: 100%;
    margin: 70px auto;
    font-family: $cursive-font;
}

.text
{
    max-width: 270px;
    margin: auto;
    font-size: 24px;
}

.thank-you-page {
    @extend .page;
    background-color: $elf-green;

    .central-text
    {
        transform: translate(-50%, calc(-50% + 25px));
    }

    .thanks 
    {
        font-size: 65px;
        font-weight: 900;
        font-family: $heading-font;
    }

    .sub 
    {
        font-family: $body-font-alternate;
        text-transform: uppercase;
        margin-bottom: 80px;
    }
}

.game
{
    position: relative;

    img.wheel
    {
        position: relative;
        /* xs width would be 100%, higher sizes would be in px */
        width: 450px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    img.pointer
    {
        left: 31.45%;
        transform: rotate(0deg);
        top: 125px;
        position: absolute;
        width: 200px;

        &.rotate
        {
            -webkit-animation: rotate-pointer 20s forwards;
            -o-animation: rotate-pointer 20s forwards;
            animation: rotate-pointer 20s forwards;
        }
    }

    .bounce
    {
        animation: bounce 5s alternate forwards;
    }
}

.winnings
{
    background: rgba(51, 51, 51, 0.6588235294117647);
    min-height: 450px;
    border: 10px solid #333;
    padding: 15px;
    box-shadow: 0 3px 3px #58561e;

    div.spin
    {
        text-align: center;
        background-color: #e4ac24;
        text-transform: uppercase;
        font-weight: 700;
        padding: 5px 10px;
        font-size: 28px;
        box-shadow: $box-shadow-yellow;
        color: #fff;
        margin-bottom: 40px;
        cursor: pointer;
    }

    div.tries
    {
        text-align: center;
    }

    span.tries-number
    {
        font-size: 150px;
        line-height: 1;
        font-family: $heading-font;
        font-weight: bold; 
        margin-right: 25px;
        color: #b12b28;
        text-shadow: 2px 2px 0px #fff, 5px 5px 0px #460c0c;
    }

    span.tries-word
    {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 45px;
        color: #777543;
        text-shadow: 2px 2px 0px #f00, -2px -2px 0 #0f0;
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease-out;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

@keyframes hide
{
    0% { visibility: visible; }
    100% { visibility: hidden; }
}

@keyframes lengthen-line {
    0% { width: 0px; }
    100% { width: 450px; }
}

@keyframes brighten-elf-green {
    0% { background-color: $elf-green-dark; }
    100% { background-color: $elf-green; }
}

@keyframes brighten-elf-yellow {
    0% { background-color: $elf-yellow-dark; }
    100% { background-color: $elf-yellow; }
}

@keyframes rotate-pointer {
    0% { transform: initial; }
    100% { transform: rotate(var(--rotation-degree)); }
}

// TODO: Improve animation of bounce
@keyframes bounce {
    0% {
        background-color: #fff;
    }
    100%
    {
        background-color: #000;
    }
}

@media (min-width: 1200px)
{

}

@media (min-width: 600px)
{
    .pledge-form
    {
        div.input-group, div.custom-input-group
        {
            width: auto;

            input[type=text], div.custom-input, div.input-select
            {
                width: 400px;

                &.short
                {
                    width: 180px;
                }
            }

            &.short
            {
                input[type=text], div.custom-input, div.input-select
                {
                    width: 180px !important;
                }
            }
        }
    }
}